DOCKER_NETWORK_PREFIX='server-svc' # Must be the name of the folder
BOUNCER_KEY_TRAEFIK=''
ACME_EMAIL=''
TRAEFIK_TRUSTED_IPS=''
LLDAP_BASE_DN='DC=example,DC=org'
LLDAP_DOMAIN='idp.example.org'
LLDAP_POSTGRES_PASSWORD=''
LLDAP_RESTIC_ENCRYPTION_KEY=''
LLDAP_RESTIC_S3_ENDPOINT=''
LLDAP_RESTIC_S3_BUCKET=''
LLDAP_RESTIC_S3_ACCESS_KEY_ID=''
LLDAP_RESTIC_S3_SECRET_ACCESS_KEY=''
LLDAP_JWT_SECRET=''
LLDAP_KEY_SEED=''
LLDAP_ADMIN_PASSWORD=''
AUTHELIA_DOMAIN='auth.example.org'
AUTHELIA_VALKEY_PASSWORD=''
AUTHELIA_POSTGRES_PASSWORD=''
AUTHELIA_RESTIC_ENCRYPTION_KEY=''
AUTHELIA_RESTIC_S3_ENDPOINT=''
AUTHELIA_RESTIC_S3_BUCKET=''
AUTHELIA_RESTIC_S3_ACCESS_KEY_ID=''
AUTHELIA_RESTIC_S3_SECRET_ACCESS_KEY=''
AUTHELIA_LDAP_PASSWORD=''
AUTHELIA_JWT_SECRET=''
AUTHELIA_SESSION_SECRET=''
AUTHELIA_STORAGE_ENCRYPTION_KEY=''
AUTHELIA_SMTP_HOST_DOMAIN='smtp.example.org'
AUTHELIA_SMTP_ADDRESS='submissions://smtp.example.org:465'
AUTHELIA_SMTP_USERNAME='auth@example.org'
AUTHELIA_SMTP_PASSWORD=''
AUTHELIA_SMTP_SENDER='auth@example.org'
AUTHELIA_HMAC_SECRET=''
UMAMI_DOMAIN=''
UMAMI_DATABASE_PASSWORD=''
UMAMI_CACHE_PASSWORD=''
UMAMI_RESTIC_S3_ENDPOINT=''
UMAMI_RESTIC_S3_BUCKET=''
UMAMI_RESTIC_S3_ACCESS_KEY_ID=''
UMAMI_RESTIC_S3_SECRET_ACCESS_KEY=''
UMAMI_RESTIC_ENCRYPTION_KEY=''
UMAMI_APP_SECRET=''
VAULTWARDEN_DOMAIN=''
VAULTWARDEN_DATABASE_PASSWORD=''
VAULTWARDEN_RESTIC_S3_ENDPOINT=''
VAULTWARDEN_RESTIC_S3_BUCKET=''
VAULTWARDEN_RESTIC_S3_ACCESS_KEY_ID=''
VAULTWARDEN_RESTIC_S3_SECRET_ACCESS_KEY=''
VAULTWARDEN_RESTIC_ENCRYPTION_KEY=''
VAULTWARDEN_ADMIN_TOKEN=''
VAULTWARDEN_SMTP_HOST=''
VAULTWARDEN_SMTP_FROM=''
VAULTWARDEN_FROM_NAME=''
VAULTWARDEN_SMTP_USERNAME=''
VAULTWARDEN_STMP_PASSWORD=''
SFTPGO_DOMAIN=''
SFTPGO_DATABASE_PASSWORD=''
SFTPGO_RESTIC_S3_ENDPOINT=''
SFTPGO_RESTIC_S3_BUCKET=''
SFTPGO_RESTIC_S3_ACCESS_KEY_ID=''
SFTPGO_RESTIC_S3_SECRET_ACCESS_KEY=''
SFTPGO_RESTIC_ENCRYPTION_KEY=''
SFTPGO_ADMIN_PASSWORD=''
SFTPGO_OIDC_SECRET=''
SFTPGO_SMTP_HOST=''
SFTPGO_SMTP_FROM=''
SFTPGO_SMTP_USERNAME=''
SFTPGO_SMTP_PASSWORD=''
BIGBROTHER_STREAMS_0_SRC='srt://example.com/live0'
BIGBROTHER_STREAMS_0_DST='stream0'
BIGBROTHER_STREAMS_1_SRC='srt://example.com/live1'
BIGBROTHER_STREAMS_1_DST='stream1'
BIGBROTHER_STREAMS_2_SRC='srt://example.com/live2'
BIGBROTHER_STREAMS_2_DST='stream2'
BIGBROTHER_STREAMS_3_SRC='srt://example.com/live3'
BIGBROTHER_STREAMS_3_DST='stream3'
VIKUNJA_DOMAIN=''
VIKUNJA_SECRET=''
VIKUNJA_LOGO=''
